<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download file</title>
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300&subset=latin,cyrillic-ext,cyrillic,latin-ext" />
    <link rel="stylesheet" href="css/stylesheets.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Your file successfully converted</h1>
        <a class="link" href="/">Go back</a>
        <a class="link" href=<%=link %>>Download File</a>
    </div>
</body>

</html>